*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* font-family: "Noto Sans", sans-serif; */
  /* font-family: "Rubik", sans-serif; */
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.container {
  background: linear-gradient(136deg, #2e335a 0%, #1c1b33 100%);
  max-width: 100%;
  display: flex;
  height: 100vh;
}

.sidebar {
  background: linear-gradient(136deg, #2e335a 0%, #1c1b33 100%);
  flex: 0 0 20rem;
  /* overflow: hidden; */
  overflow-y: scroll;
}

.content {
  background: linear-gradient(180deg, #2b2f53 0%, #1d1c34 33.96%);
  flex: 1;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
}

.logo {
  width: 60%;
}

.icon-logo {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.8rem;
  line-height: 0;
}

.nav-items {
  list-style: none;
  margin-left: 4px;
}

.nav-link {
  padding: 0.8rem 1.6rem;
}

.nav-item:link,
.nav-item:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 0.8rem;
  transition: all 0.3s;
  letter-spacing: 0.5px;
}
.nav-item:hover {
  color: #fff;
}
.nav-icon {
  width: 2.4rem;
  height: 2.4rem;
  line-height: 0;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  margin-left: 1px;
  padding: 0.4rem;
}

.search-icon,
.user-icon {
  width: 2.4rem;
  height: 2.4rem;
  line-height: 0;
  display: block;
}

.user-name {
  background-color: #22d7ff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.search-form {
  border: none;
  font-family: inherit;
  margin-right: -3.5rem;
  width: 80%;
  margin-left: -4rem;
  color: rgba(255, 255, 255, 0.6);

  font-size: 1.4rem;
  font-weight: 400;
  padding: 1rem 2rem;
  padding-left: 3.5rem;
  border-radius: 40px;
  background: linear-gradient(
    135deg,
    rgba(15, 85, 232, 0.1) 0%,
    rgba(157, 223, 243, 0.1) 100%
  );
  transition: all 0.3s;
}

.search-form:focus {
  outline: none;
  width: 100%;
}

.search-form::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.search-bar {
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-right: 2.4rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-form {
  width: 50%;
}
.search-bar {
  padding: 1.6rem 0;
}

span {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
}

.nav-top_items {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1.4rem;
}

.nav-top_item:link,
.nav-top_item:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.3s;
  padding: 0.8rem;
  font-weight: 400;
}

.nav-top_item:hover {
  background-color: #fff;
  color: #2b2f53;
  border-radius: 4px;
}

.nav-top {
  padding: 0.8rem 0;
  padding-bottom: 1.6rem;
}
.main {
  /* overflow: hidden; */
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2.4rem;
  padding: 1.8rem;
}

.card-img {
  width: 100%;
  /* height: 50%; */
  /* height: 250px; */
  transition: all 0.4s;
}

.card-img:hover {
  transform: scale(1.3);
}

.card-icon {
  width: 3.2rem;
  height: 3.2rem;
  padding: 0.4rem;
}

.text-box {
  /* margin-top: 2.4rem; */
  padding: 0.4rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.6rem;
  background: linear-gradient(
    180deg,
    rgba(72, 49, 157, 0.2) 0%,
    rgba(72, 49, 157, 0) 100%
  );
}

.title {
  font-size: 1.4rem;
  /* line-height: 1.4; */
  color: #fff;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.subtitle {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  /* letter-spacing: 0.1rem; */
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}

.text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.3rem;
  font-weight: 400;
}

.card {
  border-radius: 7px;
  overflow: hidden;
}

.image-box {
  position: relative;
  overflow: hidden;
}

.time {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #000;
  border-radius: 4px;
}
